* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;   /* center me aa jayega */
}

.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
     background-color: #081b31;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size:2rem ;
    margin-top: 4rem;
    gap: 10rem;
}
#user-score, #computer-score{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.msg-container {
    border: none;
    margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem ;
    display: inline;
    border: none;
    border-radius: 1.6rem;
    padding: 0.7rem;
}